 

table.headerDisplay {
	background-color: #99BBE8;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding: 0px;
}

table.headerDisplay th {
	font-weight: normal;
	text-align: center;
 
	background-color: #DFE8F6;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 4px; 
	
}

 



table.headerDisplay tr.odd td {
	background-color: #eee;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

table.headerDisplay tr.even td {
	background-color: #E3F0F9;
	
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}



span.pagebanner {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 100%;
	margin-top: -10px;
	display: block;
	border-bottom: none;
}

div.pagelinks {
	padding: 2px 4px 2px 4px;
	width: 100%;
	display: block;
	background-position: right;
}
