.TabHeader
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY:  Arial;
 	background-image:url(/cmacica/img/tabheader.png);
    color: navy;
    TEXT-ALIGN: left
}

.TabHeaderActivo
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    BORDER-LEFT: gray 1px solid;
    FONT-FAMILY:  Arial;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: left;
    color: navy;
 	background-image:url(/cmacica/img/tabActivo.png);
    text-decoration: underline;
}

h2 {
	font-size: 16px;
}
.csyTitle {
	font-family: Lucida console;
	font-size: 14px;
	font-weight: bold;
	color: black;
}
.cysMenubar {
	display: block;
	float: left;
}

.cysSessionbar {
	font-weight: normal;
	display: block;
	float: right;
	text-align: right;
}
.cysAfiliacion {
	background-color: #CBE776;
	border: 1px solid #97C023;	
	padding: 4px;
	-moz-border-radius: 1em 4em 1em 4em;
	border-radius: 1em 4em 1em 4em;
}

.cysUsername {
	font-weight: bold;
}

.cysLeft {
	display: block;
	float: left;
}

.cysRight {
	font-weight: normal;
	display: block;
	float: right;
	text-align: right;
}

.cysTitleModule {
	font-size: 14px;
	font-weight: bold;
	color: black;
}

.rx3dborder {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

/*

BACKG 223  232  246 - DF E8 F6
LINEA 153  187  232 - 99 BB E8
TITL1 222  223  225 - DE DF E1
TITL2 245  247  246 - F5 F7 F6
BUTTO 215  215  217 - D7 D7 D9

*/

.inputtextlimpio {
	background-color: #fff;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 27px;
	padding: 4px;
	color: #555;
	font-weight: normal;
	font-size: 12px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-transform:none;
	
}


input, select, textarea {
	background-color: #fff;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	height: 27px;
	padding: 4px;
	color: #555;
	font-weight: normal;
	font-size: 12px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*text-transform:uppercase;*/
}

input.rxsid {
	background-color: #DFE8F6;
	font-weight: bold;
}

button.rxsbutton {
	background-color: #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px;
	color: #555;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

button.rxsbuttonright {
	background-color: #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px;
	color: #555;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	-moz-border-radius-topright: 50px;
	border-top-right-radius: 50px;
	-moz-border-radius-bottomright: 50px;
	border-bottom-right-radius: 50px;
}



button.rxsbuttonplane {
	background-color: #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px;
	color: #555;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}

button.rxsbutton:hover, button.rxsbuttonright:hover,  button.rxsbuttonplane:hover {
	background-color: #eee;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


a.rxsmenu {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 5px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
a:hover.rxsmenu {
	background-color: #fff;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.rxLoginIcon {
	background-color: #fff;
	border: 1px solid #99BBE8;
}

table.rxcmacica {
	/*background-color: #99BBE8;*/
	background-color: #D82828;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	width: 100%;
	padding: 0px;
}

table.rxcmacica th {
	font-weight: normal;
	text-align: center;
}

table.rxcmacica th.rxtitle {
	background-color: #D82828;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	font-weight: bold;
	padding: 4px;
	text-align: left;
}

table.rxcmacica td.rxcontainer {
	/*background-color: #DFE8F6;*/
	background-color:ffcccc; 
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: left;
	padding: 4px;
}

table.rxcmacica th.rxcolheader, table.rxcmacica th.rxfooter {
	background-color: #DFE8F6;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 4px;
	text-align: left;
}

table.rxcmacica tr.rxrow1:hover td.rxcol, table.rxcmacica tr.rxrow2:hover td.rxcol,
table.rxcmacica tr.rxrow1:hover td.rxcolsel, table.rxcmacica tr.rxrow2:hover td.rxcolsel {
	background-color: #E3F0F9;
	border-top: 1px solid #DFE8F6;
	border-left: 1px solid #DFE8F6;
	border-right: 1px solid #DFE8F6;
	border-bottom: 1px solid #DFE8F6;
	vertical-align: top;
	cursor: pointer;
}

table.rxcmacica tr.rxrow1 button.rxsbutton, table.rxcmacica tr.rxrow2 button.rxsbutton {
	display: none;
}

table.rxcmacica tr.rxrow1:hover button.rxsbutton, table.rxcmacica tr.rxrow2:hover button.rxsbutton {
	display: inherit;
}


table.rxcmacica  tr.rxrowselected, table.rxcmacica  tr.rxrow1, table.rxcmacica  tr.rxrow2 {
	height: 30px;
} 

table.rxcmacica tr.rxrowselected td.rxcol, table.rxcmacica tr.rxrowselected td.rxcolsel {
	background-color: #BDD6D4;
	border-top: 1px solid #DFE8F6;
	border-left: 1px solid #DFE8F6;
	border-right: 1px solid #DFE8F6;
	border-bottom: 1px solid #DFE8F6;
	vertical-align: top;
	cursor: pointer;
}

table.rxcmacica tr.rxrow1 td.rxcol, table.rxcmacica tr.rxrow1 td.rxcolsel {
	background-color: #FFF;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	vertical-align: top;
}


table.rxcmacica tr.rxrow2 td.rxcol, table.rxcmacica tr.rxrow2 td.rxcolsel {
	background-color: #eee;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	vertical-align: top;
}


table.rxcmacica tr.rxrow1:hover td.rxcolsel:hover, table.rxcmacica tr.rxrow2:hover td.rxcolsel:hover, 
table.rxcmacica tr.rxrowselected td.rxcolsel:hover
{
	background-color: #DCF396;
	border-top: 1px solid #B5E61D;
	border-left: 1px solid #B5E61D;
	border-right: 1px solid #B5E61D;
	border-bottom: 1px solid #B5E61D;
	vertical-align: top;
	cursor: pointer;
}

table.rxcmacica th.rxfooter div.rxfooterleft {
	display: block;
	float: left;
}

table.rxcmacica th.rxfooter div.fxfooterright {
	font-weight: normal;
	display: block;
	float: right;
	text-align: right;	
}

table.rxcmacica th.rxfooter div.rxfooterpager, table.rxcmacica th.rxfooter div.rxfooterpagersel  {
	display: inline;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #DFE8F6;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #88AAE7;
	border-bottom: 1px solid #88AAE7;
	cursor: pointer;
	text-align: center;
	color: blue;
}

table.rxcmacica th.rxfooter div.rxfooterpagernum, table.rxcmacica th.rxfooter div.rxfooterpagernumsel  {
	display: inline;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #fff;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #88AAE7;
	cursor: pointer;
	text-align: center;
	color: blue;
}

table.rxcmacica th.rxfooter div.rxfooterpager:hover {
	/*background-color: #CED7E5;*/
	background-color: #638FD3;
	color: white;
}

table.rxcmacica th.rxfooter div.rxfooterpagersel {
	background-color: #000;
	color: white;
}

table.rxcmacica th.rxfooter div.rxfooterpagernum:hover {
	/*background-color: #CED7E5;*/
	background-color: #638FD3;
	color: white;
}



table.rxcontrol {
	background-color: #DFE8F6;
	border-top: 2px solid #99BBE8;
	border-bottom: 2px solid #99BBE8;
	width: 100%;
	padding: 0px;
}

div.rxtabs {
	border-bottom: 4px solid #CED7E5;
}

div.rxtabs input.rxtab  {
	background-color: #DFE8F6;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #000;
	border-bottom: 1px solid #DFE8F6;
	padding: 6px;
	margin: 0px;
}

div.rxtabs input.rxtabselected {
	background-color: #CED7E5;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #000;
	border-bottom: 1px solid #CED7E5;
	padding: 6px;
	margin: 0px;	
}

div.cysErrorMsg {
	background-color: #FFD5D5;
	border-top: 1px solid #FF3C3C;
	border-bottom: 1px solid #FF3C3C;
	width: 100%;
	padding: 4px;
}

div.cysAlertMsg {
	background-color: #FFFFA6;
	border-top: 1px solid #ED9207;
	border-bottom: 1px solid #ED9207;
	width: 100%;
	padding: 4px;
}

div.cysInfoMsg {
	background-color: #FFFFA6;
	border-top: 1px solid #ED9207;
	border-bottom: 1px solid #ED9207;
	width: 100%;
	padding: 4px;
}

div.cysSuccessMsg {
	background-color: #BCFF80;
	border-top: 1px solid #55B300;
	border-bottom: 1px solid #55B300;
	width: 100%;
	padding: 4px;
}




div.rxsubmenu {
	display: block;
	position: absolute;
	z-index: 40;
	background-color: #DFE8F6;
	border: 1px solid #99BBE8;
	width: 500px;
	margin: 0px;
	padding: 0xp;
}

div.rxsubmenu span {
	display: block;
	background-color: #99BBE8;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
	text-indent: 10px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

div.rxsubmenu a {
	text-align: left;
	vertical-align: top;
	cursor: pointer;
	display: block;
	padding: 4px;
	text-decoration: none;
	padding-left: 5px;
	border-left: 4px solid #99BBE8;
	border-top: 1px solid #fff;
	border-right: 1px solid #DFE8F6;
	border-bottom: 1px solid #99BBE8;
	color: blue;
}

div.rxsubmenu a:hover {
	background-color: #E3F0F9;
	border-top: 1px dashed #DFE8F6;
	border-right: 1px dashed #DFE8F6;
	border-bottom: 1px dashed #DFE8F6;
	color: red;
}

div.rxdelete {
	border: 1px solid 99BBE8;
	background-color: DFE8F6;
	display: block;
	padding: 4px;
	position: relative;
	float: right;
	z-index: 41px;
}


.rxsReadField {
	background-color: #eee;
	border: 1px dotted #aaa;	
}

.rxsLockField {
	background-color: #BCFF80;
	border-top: 1px solid #55B300;
	border-bottom: 1px solid #55B300;
}

.rxsmatriz, .rxsjerarquia {
	width: 100%;
	 
}

.rxsmatriz tr.main td, .rxsjerarquia tr.main td {
	background-color: #ccc;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: left;
	padding: 6px;
	cursor: pointer;
}

.rxsAjaxSearchPopup {
	display: block;
	width: 320px;
	height: 200px;
	background-color: #fff;
	border: 1px solid #000;
	position: absolute;
	overflow: auto;
}