
A.menulink {
display: block;
width: 250px;

text-align: left;
text-decoration: none;
font-family:arial;
font-size:15px;
color: #000000;
BORDER: none; 
border: solid 1px #FFFFFF;
}

A.menulink:hover {
border: solid 1px #6100C1;
background-color:#F0E1FF;
}


.noprint {
display: none;
}
BODY{        
		margin-left           : 0;
		margin-right          : 0;
		margin-top            : 0;
	}

	 
.clsT1
{
	font-weight: bold;
	font-size: 16pt;
	color: navy;
	font-family:  Arial;
} 
.clsT2
{
    font-family:  Arial;
    font-size: 14pt;
    font-weight: bold;
    color: navy;
}
.clsT3
{
    font-size: 9pt;
    font-family: Arial;
    color: navy;
}
.clsT3Bold
{
    font-size: 9pt;
    font-family: Arial;
    font-weight: bold;
    color: navy;
}
.clsT4
{
    font-size: 9pt;
    color: navy;
    font-family: Arial;
}
.clsT5
{
	font-weight: bold;
	font-size: 9pt;
	color: navy;
	font-family: Arial;
	text-decoration: underline;
}
.clsT6
{
    font-size: 9pt;
    color: navy;
    font-family: Arial;
    text-decoration: none;
}
.clsT7
{
    font-size: 9pt;
    color: navy;
    font-family: Arial;
    text-decoration: none;
}

.clsT7Min
{
    font-size: 8pt;
    color: black;
    font-family: Arial;
    text-decoration: none;
}

.clsT8on
{
	font-size: 7pt;
	color: navy;
	font-family: Arial;
	text-decoration: underline;
}
.clsT8off
{
	font-size: 7pt;
	color: navy;
	font-family: Arial;
	text-decoration: none;
}
.clsT9
{
    font-size: 7pt;
    text-transform: uppercase;
    cursor: hand;
    color: navy;
    font-family: Arial;
    text-decoration: none;
}
.clsT10
{
    font-weight: bold;
    font-size: 12pt;
    color: navy;
    font-family: Arial;
}
.clsT11
{
    font-weight: bold;
    font-size: 11pt;
    color: navy;
    font-family: Arial;
}
.clsT12
{
    font-weight: bold;
    font-size: 11pt;
    color: navy;
    font-family: Arial;
}
.clsT13
{
    font-size: 8pt;
    text-transform: lowercase;
    cursor: hand;
    color: navy;
    font-family: Arial;
    text-decoration: none;
}
.clsT14
{
    font-weight: bold;
    font-size: 9pt;
    color: navy;
    font-family: Arial;
}
.clsT15
{
    font-size: 8pt;
    color:#000000;
    font-family: Arial;
}
.clsT14_1
{
    font-weight: bold;
    font-size: 14pt;
    color: #000000;
    font-family: Arial;
}
.clsT12_1
{
    font-weight: bold;
    font-size: 12pt;
    color: #000000;
    font-family: Arial;
}
.clsT16
{
    font-weight: bold;
    font-size: 20pt;
    color: #000000;
    font-family: Arial;
}
.clsT17
{
    font-weight: bold;
    font-size: 10pt;
    color: navy;
    font-family: Arial;
}
.clsT17Red
{
    font-weight: bold;
    font-size: 10pt;
    color: red;
    font-family: Arial;
}
.clsT18
{
    font-weight: bold;
    font-size: 12pt;
    color: navy;
    font-family: Arial;
}
.clsT19
{
    font-size: 7pt;
    color: navy;
    font-family: Arial;
}
.clsT20
{
    font-size: 9pt;
    cursor: hand;
    color: navy;
    font-family: Arial;
}
.clsT20Grid
{
    font-size: 9pt;
    cursor: hand;
    color: navy;
    font-family: Arial;
}
.clsT21
{
    font-weight: bold;
    font-size: 16pt;
    color: navy;
    font-family: Arial;
}
.clsT22
{
    font-weight: bold;
    font-size: 16pt;
    color: navy;
    font-family: Arial;
}
.clsT23
{
    font-size: 7pt;
    color: navy;
    font-family: Arial;
}
.clsT24
{
    font-size: 8pt;
    color: navy;
    font-family: Arial;
    text-transform: lowercase;
    text-decoration: none;
}
.clsT25
{
    font-size: 10pt;
    color: navy;
    font-family: Arial Black;
}
.clsT26
{
    font-weight: bold;
    font-size: 16pt;
    color: navy;
    font-family: Arial;
}
.clsC1
{
    background-color:#cb1009
}
.clsC2
{
    background-color:#17457c
}
.clsC3
{
    background-color:#2a709b
}
.clsC4
{
    background-color:#f2f1f1
}
.clsC5
{
    background-color:#d6d5d5
}
.clsC6
{
    background-color:#edeeee
}
.clsC7
{
	background-color: #dadcdf;
}
.clsC8
{
    background-color:#a9b5c7
}
.clsC9
{
    background-color:#000000
}
.clsC10
{
    background-color:#848484
}
.clsC11
{
    background-color:#cccccc
}
.clsCboDisabled
{
    border-top-width: 1px;
    border-left-width: 1px;
    font-size: 8pt;
    border-left-color: black;
    border-bottom-width: 1px;
    border-bottom-color: black;
    color: gray;
    border-top-color: black;
    font-family: Arial;
    background-color: white;
    border-right-width: 1px;
    border-right-color: black;
}
.clsCboMandatory
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}
.clsCboOptional
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}

.clsChkDisabled
{
    background-color: gainsboro;
}
.clsChkEnabled
{
    font-size: 8pt;
    font-family: Arial;
}
.clsCmdDisabled
{
	border : 0px;
	font-family: arial;
	font-size: 8pt;		
	background-color: #F4F4F4; 
	border: 1px solid #2F4E6F;
    cursor: hand;

}
.clsCmdEnabled
{
	border : 0px;
	font-family: arial;
	font-size: 9pt;		
	background-color: #C8D7E3; 
	border: 1px solid #2F4E6F;
    cursor: hand;
}
.clsLabel
{
    font-size: 8pt;
    color: black;
    font-family: Arial;
}
.clsOptDisabled
{
    background-color: white;
}
.clsOptMandatory
{
}
.clsOptOptional
{
    background-color: white;
}
.clsRutaSep
{
	font-size: 10pt;
	color: gray;
	font-family: Arial;
}
.clsTableData
{
    border-right: lightgoldenrodyellow 1px solid;
    border-top: lightgoldenrodyellow 1px solid;
    font-size: 8pt;
    border-left: lightgoldenrodyellow 1px solid;
    cursor: hand;
    color: black;
    border-bottom: lightgoldenrodyellow 1px solid;
    font-family: Arial;
    background-color: #dfedf2;
}
.clsTableHeader
{
    border-right: red 1px;
    border-top: red 1px;
    font-weight: bolder;
    font-size: 8pt;
    border-left: red 1px;
    cursor: default;
    color: #ffd911;
    border-bottom: red 1px;
    font-family: Arial;
    background-color: #08155b;
    text-align: center;
}
.clsTableLink
{
    font-size: 8pt;
    cursor: hand;
    color: darkblue;
    font-family: Arial;
    text-decoration: underline;
}
.clsTableRowAlternating
{
    border-right: 1pt ridge;
    border-top: 1pt ridge;
    font-size: 8pt;
    border-left: 1pt ridge;
    cursor: hand;
    color: midnightblue;
    border-bottom: 1pt ridge;
    font-family: Arial;
    background-color: lightgrey;
}
.clsTableRowSelected
{
    border-right: 1pt ridge;
    border-top: 1pt ridge;
    font-size: 8pt;
    border-left: 1pt ridge;
    cursor: hand;
    color: midnightblue;
    border-bottom: 1pt ridge;
    font-family: Arial;
    background-color: lightskyblue;
}


.clsTxtDisabled
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: gray;
    /*padding-top: 0.01%;*/
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}
.clsTxtDisplay
{
    border-right: black 1pt solid;
    border-top: black 1pt solid;
    font-weight: lighter;
    font-size: 8pt;
    border-left: black 1pt solid;
    color: navy;
    border-bottom: black 1pt solid;
    font-style: italic;
    font-family: Arial;
    background-color: white;
}
.clsTxtMandatory
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}
.clsTxtOptional
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: #dfedf2;
}
.clsTxtRightDisabled
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: gray;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
    text-align: right;
}
.clsTxtRightMandatory
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
    text-align: right;
}
.clsTxtRightOptional
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
    text-align: right;
}
.clsTxtArea {
	font-family: arial;
	font-size: 11px;
	width: 400px;
}
.clsValdError
{
    font-weight: bold;
    font-size: 8pt;
    color: red;
    font-family: Arial;
}

.clsMenu
{
    font-weight: bold;
    color: navy;
    FONT-SIZE: 12px;
    font-family: Arial, Helvetica, sans-serif; 
    TEXT-DECORATION: none;
	
	
}

.clsMenuSub
{
    font-weight: bold; 
	FONT-SIZE: 11px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif; 
    TEXT-DECORATION: none   
	
}

.clsMenuSub a:hover
{
    font-weight: bold; 
	FONT-SIZE: 11px;
    color: navy;
    font-family: Arial, Helvetica, sans-serif; 
    TEXT-DECORATION: none   
	
}

.clsBorderTable
{
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
	/*background-color: #f1f1f1;*/
    font-weight: bold;
    font-size: 9pt;
    font-family: Arial;	
}
.BordeTab
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 0px solid;
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid;

}

.BordeTab1
{
	BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid;
}
.BordeTabDown
{
    BORDER-BOTTOM: gray 1px solid
}
.TabHeader
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY:  Arial;
 	background-image:url(../img/tabheader.png);
    color: navy;
    TEXT-ALIGN: left
}
.TabHeader1
{
    BORDER-RIGHT: gray 0px solid;
    BORDER-TOP: gray 0px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    BORDER-LEFT: gray 0px solid;
    BORDER-BOTTOM: gray 0px solid;
    FONT-FAMILY:  Arial;
	 	background-image:url(../img/fondoapretado.gif);
 	
    color: navy;
    TEXT-ALIGN: left
}


.TabHeaderActivo1
{
    BORDER-RIGHT: gray 0px solid;
    BORDER-TOP: gray 0px solid;
    BORDER-LEFT: gray 0px solid;
	BORDER-BOTTOM: gray 0px solid;
    FONT-FAMILY:  Arial;
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    TEXT-ALIGN: left;
    color: navy;
	background-image:url(../img/fondosuelto.gif);

}
.clslblEtiqueta
{
    font-size: 9pt;
    color: black;
    font-family: Arial;
}

.clslblEtiquetaBold
{
    font-size: 9pt;
    color: black;
    font-family: Arial;
    font-weight: bold;
}

.clslblEtiquetaMarco
{
    font-size: 9pt;
    color: black;
    font-family: Arial;
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    text-align: left;   
    background-color: #f1f1f1;
}

.clslblEtiquetaBoldMarco
{
    font-size: 9pt;
    color: black;
    font-family: Arial;
    font-weight: bold;
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    text-align: left;    
    background-color: #f1f1f1;
}

.clslblEtiquetaRight
{
    font-size: 9pt;
    color: black;
    font-family: Arial;
    text-align: right;
}

.clslblEtiquetaBoldRight
{
	font-weight: bold;
	font-size: 9pt;
	text-transform: lowercase;
	color: black;
	font-family: Arial;
	text-align: right;
}

.clslblEtiquetaBoldLeft
{
	font-weight: bold;
	font-size: 9pt;
	text-transform: lowercase;
	color: black;
	font-family: Arial;
	text-align: left;
}

.clsDivisionTabla
{
    BORDER-RIGHT: white thin;
    BORDER-TOP: white thin;
    OVERFLOW: auto;
    BORDER-LEFT: white thin;
    BORDER-BOTTOM: white thin;
    border-left-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
}

.clsGrillaTexto
{
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: white 1px solid;
    FONT-SIZE: 9px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: white 1px solid;
    COLOR: navy;
    BORDER-BOTTOM: white 1px solid;
    FONT-FAMILY: Arial, TheSansCorrespondence;
    BACKGROUND-COLOR: #ebebeb
}

.clsGrillaCabecera
{
	border-right: white 1px solid;
	border-top: white 1px solid;
	font-weight: bolder;
	font-size: 11px;
	text-transform: none;
	border-left: white 1px solid;
	color: white;
	border-bottom: white 1px solid;
	font-family: Arial;
	height: 19px;
	background-image:url(../img/GrillaCabecera.png);
	text-align: center;
}

.clsPaginacion
{
    BORDER-RIGHT: white 1px solid;
    FONT-SIZE: 9px;
    TEXT-TRANSFORM: uppercase;
    BORDER-LEFT: white 1px solid;
    COLOR: navy;
    FONT-FAMILY: Arial, TheSansCorrespondence
}

.clsSelectFila
{
	border-right: white 1px solid;
	border-top: white 1px solid;
	font-size: 9px;
	text-transform: uppercase;
	border-left: white 1px solid;
	color: navy;
	border-bottom: white 1px solid;
	font-family: Arial, TheSansCorrespondence;
	background-color: #cccc99;
}

.clsImagenEstatus
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
 }
 
 TD.rep_table1_row_2
{
	background-color: #e7f1fb;
}

TD.rep_table1_last_row
{
	font-weight: bolder;
	text-transform: uppercase;
	background-color: #d0d8ef;
}

TD.rep_table2_last_row
{
	font-weight: bolder;
	text-transform: uppercase;
	background-color: #d0d8ef;
}

.rep_table1_content
{
	font-size: 11px;
	vertical-align: top;
	font-family: Arial;
	text-align: left;
}

.rep_tabla1_cabecera
{
	font-weight: bolder;
	font-size: 10px;
	text-transform: uppercase;
	color: white;
	font-family: Arial;
	background-color: #C9242B;
	text-align: center;
}

.rep_tabla2_cabecera
{
	font-weight: bolder;
	font-size: 16px;
	text-transform: uppercase;
	color: white;
	font-family: Arial;
	background-color: #C9242B;
	text-align: center;
}

.clsImpHeaderFile
{
    border-right: black 1px solid;
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
}

.clsOnlyBorder
{
	border-right: gray 1px solid;
	border-top: gray 1px solid;
	border-left: gray 1px solid;
	border-bottom: gray 1px solid;
}

.clsUnderBorder
{
	border-bottom: gray 1px solid;
}

.clsCmdEnabledSinBorde 
{
	border : 0px;
	font-family: arial;
	font-size: 9pt;
    cursor: hand;
    font-weight: bold;
    background-color:Transparent; 
}

.clslblEtiquetaTotal
{
    font-size: 8pt;
    color: black;
    font-family: Arial;
    border-right: black 1px solid;
     padding-top: 0.01%;
    border-left: black 1px solid;
    border-bottom: black 1px solid;
    text-align: right;
    background-color: #f1f1f1;
	/*
	border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;	
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;

	*/
}


.selsW1{
	width: 46pt; 
	TEXT-TRANSFORM: uppercase;
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 7pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}
.selW2{
	width: 107pt; 
    TEXT-TRANSFORM: uppercase;
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 7pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}

.selW2a{
	width: 117pt; 
    TEXT-TRANSFORM: uppercase;
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 7pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}

#selsW3{
	width: 28pt; 
	TEXT-TRANSFORM: uppercase;
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}
#selW4{}
#selW5{}
select {
    TEXT-TRANSFORM: uppercase;
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 7pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}
/*SELECT {
	font-family: Verdana, sans-serif;
	font-size: 7pt;
	color: #333333;
	width: 48pt; 
	background-color: #ffffff;
	border-style: solid;
    border-left-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 1px;
	border-right-width: 1px;
}*/


.clsTd{ /*= td   */
	color:#252525;
	vertical-align : top;
    font-family: Arial, Helvetica;
	text-align:left;
    font-size: 9pt;	/*8pt*/  
    padding : 0px;
}
.clsTd2{ /*= td1   */
   vertical-align:middle;
   font-family: Arial, Helvetica;
   font-size: 8pt;	/*8pt*/
   text-align:left;
   padding : 0px;
   font : bold;
}

.clsTd2Center{ /*= td1   */
   vertical-align:middle;
   font-family: Arial, Helvetica;
   font-size: 8pt;	/*8pt*/
   text-align:center;
   padding : 0px;
   font : bold;
}

.clsTd3 { /*= tdBoldRed   */
	color: #FF0000;
   font-size: 10pt;	/*8pt*/
   text-align:left;
   font : bold;   
   /*
   .clsTxt2{
	border:0;
	height:15;
	width:15;
	color:#FF0000;
	font-size:9px;
	font:bold;
	display:'';
}
   */
}

.clsTd4{ /*= tdBold   */
   vertical-align:middle;
   font-family: Arial, Helvetica;
   font-size: 8pt;	/*8pt*/
   text-align:left;
   padding : 0px;
   font : bold;   
}

.clsTd5 { /*= td4   */
   vertical-align:middle;
   font-family: Arial, Helvetica;
   font-size: 8pt;	/*8pt*/
   text-align:left;
   padding : 0px;
}

.clsTd6  { /*= td5   */
   vertical-align:middle;
   font-family: Arial, Helvetica;
   font-size: 8pt;	/*8pt*/
   text-align:left;
   padding : 0px;
   font : bold;   
}

.clsTd81{ /*= tdt   */
	color:#638EE5;
	font : bold;
	vertical-align : top;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 10pt;	/*8pt*/
    text-align:left; 
	
	}

.clsTd8{ /*= tdt   */
	color:#638EE5;
	font : bold;
	vertical-align : top;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 9pt;	/*8pt*/
    text-align:left; 
	
	}
.clsTd9{ /*td3*/
	background-color: #F9F9F7;
    border-left-color: #D0D0BF;
	border-bottom-color:#D0D0BF;
    border-top-color: #D0D0BF;
	border-right-color: #D0D0BF;
    border-left-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
}
.clsTxt { /* =#txt */
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;	
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}

.clsTxt1 { /* =#txt */
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 7pt;	
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white;
}

.clsTxtReadOnly { /*#txtReadOnly*/
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: black;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: ebebeb;
}

.clsTxtT24 { /* =#txt */
	vertical-align:middle;
    font-size: 8pt;
    color: navy;
    font-family: Arial;
    text-transform: lowercase;
    text-decoration: none;
    border-right: ffffff 1px solid;
    border-top: ffffff 1px solid;
    font-size: 8pt;	
    border-left: ffffff 1px solid;
    padding-top: 0.01%;
    border-bottom: ffffff 1px solid;
    font-family: Arial;
    background-color: white;
}
.clsTxtx{
background:#F9F9F7;
border:0;
height:15;
width:15;
color:#D70000;
font:bold;
font-size:9pt;
display:'';

}

.clsTxtxx{
background:#F9F9F7;
border:0;
color:#D70000;
font:bold;
font-size:9pt;


}

.clsTxtxoff{
background:#F9F9F7;
border:0;
height:15;
width:15;
color:#F9F9F7;
font-size:9px;
size:50;
}

.clsTd7 { /*= td6   */
   vertical-align:middle;
   font-family: Arial, Helvetica;
   font-size: 8pt;	/*8pt*/
   text-align:right;
   padding : 0px;
   font : bold;  
}

.clsTd11 { /*= td4   */
   vertical-align:middle;
   font-family: Arial, Helvetica;
   font-size: 8pt;	/*8pt*/
   text-align:rigth;
   padding : 0px;
}


.clsTd12 { 
    border-right: #F9F9F7 1px solid;
    border-top: #F9F9F7 1px solid;
    font-size: 8pt;	
    border-left: #F9F9F7 1px solid;
    color: #FF0000;   
	 padding-top: 0.01%;
    border-bottom: #F9F9F7 1px solid;
    font-family: Arial;
    background-color: #F9F9F7;
}  

.clsTd12a { 
    border-right: #F9F9F7 1px solid;
    border-top: #F9F9F7 1px solid;
    font-size: 8pt;	
    border-left: #F9F9F7 1px solid;
    color: black;   
	 padding-top: 0.01%;
    border-bottom: #F9F9F7 1px solid;
    font-family: Arial;
    background-color: #F9F9F7;
}


.clsTd13{
    border-right: #F9F9F7 1px solid;
    border-top: #F9F9F7 1px solid;
    font-size: 9pt;	
    border-left: #F9F9F7 1px solid;
    color: #000000;    
	padding-top: 0.01%;
    border-bottom: #F9F9F7 1px solid;
    font-family: Arial;
	background-color: #F9F9F7;
	font-weight: bold;
}

/*
.clsTxtx{
border:0;
height:15;
width:15;
color:#FF0000;
font:bold;
font-size:9px;
display:'';
}
*/

/*
    border-right: black 1px solid;
    border-top: black 1px solid;
    font-size: 8pt;
    border-left: black 1px solid;
    color: #ACA899;
    padding-top: 0.01%;
    border-bottom: black 1px solid;
    font-family: Arial;
    background-color: white
*/


.TabHeaderUp
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt; 
    BORDER-LEFT: gray 1px solid;
    BORDER-BOTTOM: gray 1px solid;
    FONT-FAMILY:  Arial;
 //	background-image:url(../img/tabheader.png);
    color: navy;
    TEXT-ALIGN: left
}

.TabHeaderActivoUp
{
    BORDER-RIGHT: gray 1px solid;
    BORDER-TOP: gray 1px solid;
    BORDER-LEFT: gray 1px solid;
    FONT-FAMILY:  Arial;
    FONT-WEIGHT: bold;
    FONT-SIZE: 7pt;
    TEXT-ALIGN: left;
    color: navy;
 	background-image:url(../img/tabActivo.png);
    text-decoration: underline;
}


<!-- Rix -->

.clslblError {
	BORDER-RIGHT: #ff7349 0px solid;PADDING-RIGHT: 2em;BORDER-TOP: ff7349 2px solid;PADDING-LEFT: 50px;	PADDING-BOTTOM: 0.6em;	MARGIN: 1em 0px; 	BORDER-LEFT: #ffd324 0px solid; 	PADDING-TOP: 0.6em; 	BORDER-BOTTOM: #ff7349 2px solid; 	TEXT-ALIGN: left;	BORDER-LEFT-COLOR: #ff7349;	BACKGROUND: url(../img/alertas/small_exclamacion.gif) #ffdaca no-repeat 15px 5px;	font-family: arial;	font-size: 12px;	font-weight: bold;	 
	}

.clslblAdvertencia {
	BORDER-RIGHT: #ffd324 0px solid; 
	PADDING-RIGHT: 2em; 
	BORDER-TOP: #ffd324 2px solid; 
	PADDING-LEFT: 75px; 
	BACKGROUND: url(../img/alertas/small_advertencia.gif) #fff6bf no-repeat 15px 5px; 
	PADDING-BOTTOM: 0.6em; 
	MARGIN: 1em 0px; 
	BORDER-LEFT: #ffd324 0px solid; 
	PADDING-TOP: 0.6em; 
	BORDER-BOTTOM: #ffd324 2px solid; 
	TEXT-ALIGN: left;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
}

.clslblOK {
	PADDING-RIGHT: 2em;
	PADDING-LEFT: 75px;
	PADDING-BOTTOM: 0.6em;
	MARGIN: 1em 0px;
	PADDING-TOP: 0.6em;
	TEXT-ALIGN: left;
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	background-color: #E1FFBF;
	background-image: url(../img/alertas/small_ok.gif);
	background-repeat: no-repeat;
	background-position: 15px 5px;
	border-top-width: 2px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #66CC00;
	border-right-color: #66CC00;
	border-bottom-color: #66CC00;
	border-left-color: #66CC00;
}


.clstxtError {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #993300;
	font-size: 10px;
}

.clslblError .detalle{
	font-size: 12px;
	font-weight: normal;
	padding: 4px;
}

.clslblError .opener{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #0033CC;
	text-decoration: underline;
	font-weight: normal;
}

/*** CLASE LOADER ***/

.dloader {
		display: block;
		position: absolute;
		vertical-align: middle;
		z-index: 51;
	}
	.dloader table {
		background-color: #efefef;
		border-top-width: 1px;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-left-width: 1px;
		border-top-style: solid;
		border-right-style: solid;
		border-bottom-style: solid;
		border-left-style: solid;
		border-top-color: #FFFFFF;
		border-right-color: #dddddd;
		border-bottom-color: #dddddd;
		border-left-color: #FFFFFF;
		width: 150px;
	}
	.dloader td {
		font-family: Arial, Helvetica, sans-serif;
		font-size: 10px;
	}
	.dloaderfade {
		background-color:#FFFFFF;
		opacity:0.90;
		filter:alpha(opacity="90");
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 50;
		display: block;
	}


/********* NOTA O INFO ***********/


.clsNota {
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 40px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;
	TEXT-ALIGN: left;
	background-color: #fff6bf;
	background-image: url(../imagenes/vineta/note_small.gif);
	background-repeat: no-repeat;
	background-position: 2px 2px;
	border: 1px solid #ffd324;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
.clsNota div.clsTblNoteMini {
	float: right;
}
.clsNota div.clsTblNoteContent{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
.clsNota div.clsTblNoteTitle a{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}

.clsFrame{
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;
	TEXT-ALIGN: left;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
.clsFrame div.clsFrameCaption a, .clsFrame div.clsFrameCaption{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #638EE5;
}
.clsFrame div.clsFrameContent {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	background-color: #FFFFFF;	
}
.clsFrame div.clsFrameMini {
	float: right;
}


/***************/

.clsExcepcion{
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;
	TEXT-ALIGN: left;
	margin-top: 1em;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
.clsExcepcion div.clsExcepcionCaption a, .clsExcepcion div.clsExcepcionCaption{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: #000000;
}
.clsExcepcion div.clsExcepcionContent {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	font-weight: normal;
}
.clsExcepcion div.clsExcepcionMini {
	float: right;
}

/*** CLASE WALL ***/

.dwall {
	display: block;
	position: absolute;
	vertical-align: middle;
	z-index: 51;
}

.dwallfade {
	background-color:#FFFFFF;
	opacity:0.90;
	filter:alpha(opacity="90");
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 50;
	display: block;
}
