body {
	width: 100%;
	height: 100%;	
	background-color: #e8e8d8;
	border: 0px;
	margin: 0px;
}

body, th, td, label, div, span {
	font-family: tahoma;
	font-size: 12px;
}

.rxsviewport {
	width: 100%;
	height: 100%;
}
.rxwestview {
	display: block;
	float: left;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 100%;
	z-index: 10;
	border: 1px solid #000;
}


.rxverticalview {
	width: 100%;
	height: 100%;
	display: block;
	/*overflow: scroll;*/
}
.rxsview {
	width: 99%;
	height: 100%;	
}

.rxsview .rxborderwhite{
	background-color: #fff;
	font-size: 5px;
}

.rxsview .rxborderwhitecenter{
	background-color: #fff;
}

.rxsview .rxborderright {
	background-image: url("rxs/middlerightback.gif");
	background-repeat: repeat-y;
}

.rxsview .rxborderbottom {
	background-image: url("rxs/middlebottomback.gif");
	background-repeat: repeat-x;
}

input.rxsbutton2 {
	background:url('/cmacica/img/icon/download.png') no-repeat; 
	background-color: #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px;
	color: #555;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	moz-border-radius: 5px;
	border-radius: 5px;

}

input.rxsbutton3 {
	background:url('/cmacica/img/icon/password.gif') no-repeat; 
	background-color: #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px;
	color: #555;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	moz-border-radius: 5px;
	border-radius: 5px;

}

input.rxsbutton4 {
	background:url('/cmacica/img/icon/find.png') no-repeat; 
	background-color: #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px;
	color: #555;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	moz-border-radius: 5px;
	border-radius: 5px;
}


input.rxsbutton5 {
	background-color: #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px;
	color: #555;
	font-size: 11px;
	cursor: pointer;
	moz-border-radius: 5px;
	border-radius: 5px;

}

input.rxsbutton6 {
	background-color: #eee;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	padding: 4px;
	color: #XXXX;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	moz-border-radius: 5px;
	border-radius: 5px;

}

a.rxsmenu {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding: 5px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
a:hover.rxsmenu {
	background-color: #fff;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

table.rxsform {
	background-color: #000;
	border-right: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	width: 100%;
	padding: 0px;
}

table.rxsform th {
	font-weight: normal;
	text-align: center;
}

table.rxsform th.rxtitle {
	background-color: #aba;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	font-weight: bold;
	padding: 4px;
	text-align: left;
}
table.rxsform td.rxcontainer {
	background-color: #eee;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: left;
	padding: 4px;
}


table.rxsform th.rxcolheader, table.rxsform th.rxfooter {
	background-color: #aba;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding: 4px;
	text-align: left;
}

table.rxsform tr.rxrow1 td.rxcol {
	background-color: #FFFAE8;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

table.rxsform tr.rxrow2 td.rxcol {
	background-color: #FFF5D7;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}


/* RXD: RIX SOLID */


table.rxdform {
	background-color: #aba;
	border: 1px solid #454;
	width: 100%;
	padding: 0px;
}

table.rxdform th {
	font-weight: normal;
	text-align: center;
}

table.rxdform th.rxtitle {
	background-color: #aba;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #454;
	border-bottom: 1px solid #454;
	font-weight: bold;
	padding: 4px;
	text-align: left;
}
table.rxdform td.rxcontainer {
	background-color: #eee;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	text-align: left;
	padding: 4px;
}


table.rxdform th.rxcolheader, table.rxdform th.rxfooter {
	background-color: #aba;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #454;
	border-bottom: 1px solid #454;
	padding: 4px;
	text-align: left;
}

table.rxdform tr.rxrow1 td.rxcol {
	background-color: #FFFAE8;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

table.rxdform tr.rxrow2 td.rxcol {
	background-color: #FFF5D7;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

div.fxfog,div.fxfogloading {
	display: block;
	position: fixed;
	z-index: 100;
	background-color: #ccc;
	opacity: 0.5;
	filter:alpha(opacity=50);
}

div.fxfogloading {
	z-index: 200;
}

div.rxfloat {
	display: block;
	position: fixed;
	z-index: 150;
	width: 800px;
	top: 100;
}




