#nav {padding:0; margin:0; list-style:none; height:36px; width:100%; background:#ffcccc; position:relative; z-index:500; font-family:arial, verdana, sans-serif;}
#nav li.top {display:block; float:left;}
#nav li a.top_link {display:block; float:left; height:36px; line-height:27px; color:#FFF; text-decoration:none; font-size:12px; font-weight:bold; padding:0 0 0 12px; cursor:pointer;background: url(/cmacica/img/menu/blank.gif);}
#nav li a.top_link span {float:left; display:block; padding:0 24px 0 12px; height:36px;background:url(/cmacica/img/menu/blank.gif) right top;}
#nav li a.top_link span.down {float:left; display:block; padding:0 24px 0 12px; height:36px; background:url(/cmacica/img/menu/blanka.gif) no-repeat right top;}
#nav li a.top_link:hover {color:#ffcccc; background: url(/cmacica/img/menu/blank_over.gif) no-repeat;}
#nav li a.top_link:hover span {background:url(/cmacica/img/menu/blank_over.gif) no-repeat right top;}
#nav li a.top_link:hover span.down {background:url(/cmacica/img/menu/blank_overa.gif) no-repeat right top;}

#nav li:hover > a.top_link {color:#ffcccc; background: url(/cmacica/img/menu/blank_over.gif) no-repeat;}
#nav li:hover > a.top_link span {background:url(/cmacica/img/menu/blank_over.gif) no-repeat right top;}
#nav li:hover > a.top_link span.down {background:url(/cmacica/img/menu/blank_overa.gif) no-repeat right top;}

/* Default list styling */

#nav li:hover {position:relative; z-index:200;}

/* keep the 'next' level invisible by placing it off screen. */
#nav ul, 
#nav li:hover ul ul,
#nav li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul ul
{position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

#nav li:hover ul.sub
{left:0; top:31px; background: #fff; padding:3px; border:1px solid #3a93d2; white-space:nowrap; width:300px; height:auto; z-index:300;}
#nav li:hover ul.sub li
{display:block; height:20px; position:relative; float:left; width:300px; font-weight:normal;}
#nav li:hover ul.sub li a
{display:block; font-size:12px; height:20px; width:300px; line-height:20px; text-indent:10px; color:#000; text-decoration:none;}
#nav li ul.sub li a.fly
{background:#fff url(/cmacica/img/menu/arrow.gif) 170px 7px no-repeat;}
#nav li:hover ul.sub li a:hover 
{background:#3a93d2; color:#fff;}
#nav li:hover ul.sub li a.fly:hover
{background:#3a93d2 url(/cmacica/img/menu/arrow_over.gif) 250px 7px no-repeat; color:#fff;}

#nav li:hover ul li:hover > a.fly {background:#3a93d2 url(/cmacica/img/menu/arrow_over.gif) 170px 7px no-repeat; color:#fff;} 

#nav li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul,
#nav li:hover ul li:hover ul li:hover ul li:hover ul li:hover ul
{left:300px; top:-4px; background: #fff; padding:3px; border:1px solid #3a93d2; white-space:nowrap; width:300px; z-index:400; height:auto;}
